# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Visual Studio files
*.sdf
*.sln
*.suo
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# XCode files
*.xcodeproj
.DS_Store
exercise1/Exercise1/
exercise2/Exercise2/
exercise3/Exercise3/
exercise4/Exercise4/
