# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Visual Studio files
*.sdf
*.sln
*.suo
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
exercise1/Exercise1Win/
exercise2/Exercise2Win/
exercise3/Exercise3Win/
exercise4/Exercise4Win/

# XCode files
*.xcodeproj
.DS_Store
exercise1/Exercise1/
exercise2/Exercise2/
exercise3/Exercise3/
exercise4/Exercise4/

# data files
uniprot_columns.tsv
uniprot.tsv
data/*uniques.tsv
